
	
		<div class="enquirywitch">
			<meta charset="utf-8">
			<style>
				<%- style %>
				</style>
		<tw-story tags></tw-story>
		{{STORY_DATA}}
		<p id="panel">
		<span id="loading" class="hidden">Sending...
			</span>
		<a href="javascript:void(0)" id="startagain" class="hidden">Start again</a>
		</p>
		<script>
		<%- script %>
		</script>
		</div>
